<div class="card m-3 shadow mx-4 py-2 exerciseCard" id="{{exercise_id}}" style="width: 15rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-light text-center"><img src="./images/{{exercise_logo}}" style="width: 3rem;">Strength</h6>
                <h5 class="card-title text-light text-center"><u>{{exercise_name}}</u></h5>
                <p class="text-light text-center">{{musclegroup.musclegroup_name}}</p>
            </div>

            <small class="text-light">Difficulty</small>
            {{#if beginner}}
                <div class="progress mt-2 d-flex" style="width: 100%;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {{#if intermediate}}
                    <div class="progress mt-2 d-flex" style="width: 100%;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 66%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{#if expert}}
                        <div class="progress mt-2 d-flex" style="width: 100%;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        
                <div class="d-flex text-center justify-content-around mt-4">
                    <button type="button" class="btn p-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content={{exercise_instructions}} id="detailsBtn">Details</button>
                    <img src="./images/addCelenderLogo.png" id="addExercise" style="width: 2rem;"> 
                </div>
        </div>