<div class="card m-3 mx-2 py-2 exerciseCard" style="width: 15rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-light text-center"><img src="{{exercise_logo}}" style="width: 3rem;">{{exercise_type}}</h6>
                <h5 class="card-title text-center headline">{{exercise_name}}</h5>
                <p class="text-light text-center my-0">Muscle: {{musclegroup.musclegroup_name}}</p>
                <p class="text-light text-center my-0">Equipment: {{exercise_equipment}}</p>
            </div>
</div>