{{#if loggedIn}}

<div class="text-center d-flex justify-content-center mt-3 mx-5">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#"></a></p>
            <p><a href="#"></a></p>
            <p><a href="#"></a></p>
        </div>

        <div class="col-sm-12 fancyBg" style="border-radius: 0.6rem; box-shadow: 10px 10px 10px black;">
            <h1 class="homeTitle mt-2">Welcome to Your Dashboard {{user.username}}</h1>
            {{!-- <h2 class="headline">{{name}}</h2> --}}
            <div>
                <p class="mb-0 text-success">{{now}}</p>
                <h3 class="mb-0 text-light dbtitle" style="border-bottom: 1px solid black;">Today's Workouts</h3>
            </div>
            
            <section class="row d-flex justify-content-center mx-1">
                {{#each storedExercises as |exercise|}}
                {{> schedule-cards}}
                {{/each}}
            </section>
            <hr>
            <!-- view full schedule - link to new page-->
            <h3 class= "d-flex justify-content-center pt-3 mb-0">
                <a class="text-white" href="/schedule/view">View Full Schedule</a>
            </h3>
            <hr>

            <!-- stats section -->
            <div class="card m-3 shadow mx-4 py-2 exerciseCard">
                <div class="card-body">
                    <h5 class="card-title text-light text-center"><u>My Stats</u></h5>
                </div>
                <div>
                    <p class="text-light">Member since: {{ format_date user.createdAt}} </p>
                    <p class="text-light">Number of completed exercises: {{numberOfCompletedExercises}} </p>
                </div>
            </div>



            {{!-- Favorites Section --}}
            <div>
                <h3 class="mb-0 text-light dbtitle" style="border-bottom: 1px solid black;">Favorites</h3>
            </div>
            <section class="row d-flex justify-content-center mx-1">
                {{#each favorites as |exercise|}}
                {{> favorite-cards}}
                {{/each}}
            </section>

            {{!-- fitness scheduler --}}
        <p class="d-flex justify-content-center pt-3 mb-0">
            <button class="scheduleBtn mt-2 px-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#schedulerContainer" aria-expanded="false" aria-controls="collapseExample">Fitness
                Scheduler</button>
        </p>
        <div class="collapse" style="index: 1;" id="schedulerContainer">
            <div class="card card-body mx-5 mt-0 mb-2 scheduleBox">
                <div class="d-flex justify-content-around row">

                    <div class="col-12 col-sm-8 justify-content-center">

                        <p class="text-center mt-3 headline">Step 1: Select Exercise</p>
                        <select class="form-select form-select-sm" id="exerciseSelect" aria-label=".form-select-sm">
                            <option selected>Exercise Selection</option>
                            {{#each exerciseList as |exercise|}}
                            <option value="{{exercise_id}}">{{exercise_name}}</option>
                            {{/each}} 

                        </select>
                    </div>

                    <div class="col-12 col-sm-8 justify-content-center">
                        <p class="text-center mt-3 headline">Step 2: Choose a Date</p>
                        <input id="startDate" minDate="0" class="form-control justify-content-center" type="date" />
                        <span id="startDateSelected"></span>
                    </div>

                    <div class="col-12 col-sm-8 justify-content-center px-5">
                        <p class="text-center mt-3 mb-0 headline">Step 3: Details (if applicable)</p>
                        <p class="text-center text-light mb-0">Number of Sets</p>
                        <input type="number" min="0" class="form-control mb-1 text-center" id="numSets"
                            placeholder="Sets">
                        <p class="text-center text-light mb-0">Number of Reps</p>
                        <input type="number" min="0" class="form-control mb-1 text-center" id="numReps"
                            placeholder="# of Reps">
                        <p class="text-center text-light mb-0">Weight</p>
                        <input type="number" min="0" class="form-control mb-1 text-center" id="numWeight"
                            placeholder="Weight (lbs)">
                        <p class="text-center text-light mb-0">Time</p>
                        <input type="number" min="0" class="form-control mb-1 text-center" id="numTime"
                            placeholder="# of minutes">
                        <div class="d-flex justify-content-center mt-3"><button class="btn"
                                id="submitExerciseBtn">SUBMIT</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>

            <script src="/js/addExercise.js"></script>
            <script src="/js/completedMark.js"></script>
           
            {{else}}
            <section class="container bg-dark d-flex justify-content-center mt-5 row pb-2">
                <h1 class="text-danger text-center">You must be logged in to access this feature!</h1>
                <a href="/register" class="headline  text-center">Become a Member!</a>
            </section>
            {{/if}}
            
